/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*rem算出をしやすくするために*/
  height: 100%;
}

h1 {
  margin: auto;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  width: 155px;
  height: 45px;
  margin: 10px;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: small;
  background-color: #aef853;
  background-size: 20%;
  background-image: url("./baby.png");
  height: 100%;
}
.wrapper {
  /* background-color: #aef853; */
  background-color: #fff;
  width: 400px;
  /* height: 100vh; */
  /* height: 100%; */
  min-height:100vh;
  margin: 0 auto;
  text-align: center;
  padding: 32px 16px;
}

.baby {
  width: 200px;
}

.logo {
  width: 300px;
}

.title {
  color: #2d082c;
  /* margin-top: 50px; */
}

.btn--start,
a.btn--start {
  color: #fff;
  background-color: #ff3f9f;
}

.btn--stop,
a.btn--stop {
  color: #fff;
  background-color: #ab4bf2;
}

.btn--start:hover,
a.btn--start:hover {
  color: #fff;
  background: #ff3f9f;
}

.btn--stop:hover,
a.btn--stop:hover {
  color: #fff;
  background: #ab4bf2;
}

a.btn--radius {
  border-radius: 100vh;
}

.example {
  background-color: rgb(255, 247, 253);
  width: 330px;
  margin: auto;
  font-size: small;
  /* height: 100%; */
}

ul {
  list-style: none;
  padding-left: 0;
  padding: 20px;
  height: auto;
  border-radius: 20px;
}

.bold {
  font-weight: 700;
}
