*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*rem算出をしやすくするために*/
  height: 100%;
}

h1 {
  margin: auto;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  width: 155px;
  height: 45px;
  margin: 10px;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: small;
  background-color: #aef853;
  background-size: 20%;
  background-image: url("./baby.png");
  height: 100%;
}
.wrapper {
  background-color: #fff;
  width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
}

.baby {
  height: 180px;
}

.logo {
  height: 180px;
}

.title {
  color: #2d082c;
}

.btn--start,
a.btn--start {
  color: #fff;
  background-color: #ff3f9f;
}

.btn--stop,
a.btn--stop {
  color: #fff;
  background-color: #ab4bf2;
}

.btn--start:hover,
a.btn--start:hover {
  color: #fff;
  background: #ff69b4;
}

.btn--stop:hover,
a.btn--stop:hover {
  color: #fff;
  background: #b069e6;
}

a.btn--radius {
  border-radius: 100vh;
}

.example {
  background-color: #ececec;
  width: 330px;
  margin: 2rem auto 0 auto;
  font-size: small;
}

ul {
  list-style: none;
  padding-left: 0;
  padding: 20px;
  height: auto;
  border-radius: 20px;
}

.bold {
  font-weight: 700;
}

.credit {
  color: gray;
  margin: 0 auto;
  vertical-align: bottom;
}

.credit a {
  color: gray;
}

.output {
  background-color: #ececec;
  border-radius: 20px;
  padding: 2rem;
  width: 330px;
  margin: 3rem auto;
}

main {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  opacity: 100;
  z-index: 999;
}

main .loaders {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
main .loaders .loader {
  margin: 5rem auto;
  max-width: 25%;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
.ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.ball-scale-multiple > div {
  background-color: #ff3f9f;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  left: -30px;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 60px;
  height: 60px;
  -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
  animation: ball-scale-multiple 1s 0s linear infinite;
}
